
bin/Debug/AlwaysUp_TrialRenewal.exe
bin/Debug/AlwaysUp_TrialRenewal.exe.config
bin/Debug/AlwaysUp_TrialRenewal.pdb
bin/Release/AlwaysUp_TrialRenewal.exe
bin/Release/AlwaysUp_TrialRenewal.exe.config
bin/Release/AlwaysUp_TrialRenewal.pdb
bin/Release/Confused/AlwaysUp_TrialRenewal.7z
bin/Release/Confused/AlwaysUp_TrialRenewal.exe
bin/Release/Confused/symbols.map
obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
obj/Debug/AlwaysUp_TrialRenewal.csproj.CoreCompileInputs.cache
obj/Debug/AlwaysUp_TrialRenewal.csproj.FileListAbsolute.txt
obj/Debug/AlwaysUp_TrialRenewal.csprojAssemblyReference.cache
obj/Debug/AlwaysUp_TrialRenewal.exe
obj/Debug/AlwaysUp_TrialRenewal.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
obj/Release/AlwaysUp_TrialRenewal.csproj.CoreCompileInputs.cache
obj/Release/AlwaysUp_TrialRenewal.csproj.FileListAbsolute.txt
obj/Release/AlwaysUp_TrialRenewal.exe
obj/Release/AlwaysUp_TrialRenewal.pdb
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
.vs/AlwaysUp_TrialRenewal/v16/.suo
